@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --primary-orange: hsl(31, 77%, 52%);
  --primary-cyan: hsl(184, 100%, 22%);
  --primary-dark-cyan: hsl(179, 100%, 13%);

  --txt-primary: hsl(0, 0%, 95%);
  --txt-para: hsla(0, 0%, 100%, 0.75);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--txt-primary);
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

h1 {
  color: var(--txt-primary);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  color: var(--txt-para);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  padding: 1.5rem;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    width: 1000px;
    padding: 0;
  }
}

.svg {
  width: 30%;
}

.description h1 {
  margin: 12px 0 24px 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  height: 400px;
}

.card .btn {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .card {
    height: 500px;
  }
}

.card:nth-child(1) {
  background-color: var(--primary-orange);
  border-radius: 8px 8px 0 0;
}

@media (min-width: 768px) {
  .card:nth-child(1) {
    border-radius: 8px 0 0 8px;
  }
}

.card:nth-child(1) .btn {
  background-color: var(--txt-primary);
  color: var(--primary-orange);
}

.card:nth-child(2) {
  background-color: var(--primary-cyan);
}

.card:nth-child(2) .btn {
  background-color: var(--txt-primary);
  color: var(--primary-cyan);
}

.card:nth-child(3) {
  background-color: var(--primary-dark-cyan);
  border-radius: 0 0 8px 8px;
}

@media (min-width: 768px) {
  .card:nth-child(3) {
    border-radius: 0 8px 8px 0;
  }
}

.card:nth-child(3) .btn {
  background-color: var(--txt-primary);
  color: var(--primary-dark-cyan);
}

.btn {
  border: none;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 1rem 2rem;
  border-radius: 25px;
  cursor: pointer;
}
